<!DOCTYPE html>
<html>
<head>
	<title>Angular Base</title>
	<link rel="stylesheet/less" type="text/css" href="app.less" />
</head>
<body>
	<div class="app" ng-controller="CountCtrl">
		<counter count="count"></counter>
		
		<button ng-click="doSomething();">Do Something</button>

		<div ng-repeat="item in exampleArray">
			<h4>{{item}}</h4>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
	<script src="http://code.angularjs.org/1.5.0/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="app.js"></script>

</body>
</html>
